<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/categories"><button type="button">Categories List</button></a></p>
<a href="/create-book">Create new book</a>
<h1>Book</h1>
<form>
    Search by firstname:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form>
<p><a th:href="@{/sortByPriceAsc}"><button type="button">Sort By Price Asc</button></a></p>
<p><a th:href="@{/sortByPriceDesc}"><button type="button">Sort By Price Desc</button></a></p>
<form action="/searchByCategory" onchange="this.submit()">
    <a>Search By Category:</a>
    <select name="search">
        <option th:each="d:${categories}" th:text="${d.name}" th:value="${d.getId()}"></option>
    </select>
</form>
<br/>
<table border="1">
    <tr>
        <th>name</th>
        <th>dateOfPurchase</th>
        <th>Author</th>
        <th>Price</th>
        <th>Categories</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="${book.name}"></td>
            <td th:text="${book.dateOfPurchase}">
            <td th:text="${book.author}">
            <td th:text="${book.price}">
            <td th:text="${book.getCategory().getName()}"></td>
        </tr>
        <td><a th:href="@{/edit-book/__${book.id}__ }">Edit</a></td>
        <td><a th:href="@{/delete-book/__${book.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    <div>
        <a th:href="@{'/book'(page=${books.number - 1})}" th:if="${books.hasPrevious()}">Previous</a>
        <span th:text="${books.number + 1}"></span>/<span th:text="${books.totalPages}"></span>
        <a th:href="@{'/book'(page=${books.number + 1})}" th:if="${books.hasNext()}">Next</a>
    </div>
</table>
</body>
</html>